body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
}

/* curd gulu jeno pasha pashi bose. */
#flower-container {
    display: flex;
    flex-wrap: wrap;       /* side ee jayga na thakle niche chole jabe */
    gap: 20px;             /* protita curd er majer faka jayga */
    justify-content: center;
}

/* sob gula curd er design etay rakhlam  */
.card {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 10px;   /* 4 ta side er shape gula bakanur jonno */
    padding: 20px;
    width: 250px;          /* curd gulo kooto tuku boro hobe  */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1); /* side ee shadow use korar jonno */
    /* animation er jonno */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); /* mouse jokhon nibo curd ta tokhon uporer dike uthbe */
    box-shadow: 5px 10px 20px rgba(0,0,0,0.2); /* শ্যাডো আরেকটু বড় ও গাঢ় হব */
}

/* prottekta curd er vitorer likha gulo change korar jonno  */
.card h2 {
    color: #d35400;
    margin-top: 0;
}


/* curd er chobi er jonno */
.card img {
    width: 100%;             /* chobi ta curd er modde pura jayga nibe */
    height: 180px;           /* sobar height same thakbe */
    object-fit: cover;       /* chobi suja rakhar jonno */
    border-radius: 8px;      /* kuna gulo gul korar jonno */
    margin-bottom: 15px;     /* chobir niche khali jayga thakbe */
}

/* for font size */
.card p {
    font-size: 14px;
    color: #444;
    margin: 5px 0;
    line-height: 1.4;
}

/* সার্চ বারের বাইরের div-এর ডিজাইন */
#search-container {
    text-align: center;
    margin-bottom: 20px;
}
#searchInput {
    padding: 10px 15px;
    width: 300px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: #d35400; 
}